.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: normal;
  text-transform: none;
}

#title h3 { line-height: 1.25rem; }

.reveal section h1 { margin-bottom: 1rem; font-size: 5rem; }
.reveal section.small-title h1 { font-size: 2rem; }
.reveal section.tiny-title h1 { font-size: 1.5rem; }

.reveal ul { display: block; margin-left: 1rem; }

.reveal .large-quote { font-size: 2.5rem; line-height: 1rem; }

.reveal li { margin-bottom: 0.5rem; }
.reveal section img { max-height: 80%; border: none; background: none; box-shadow: none; }

.no-header h1 { display: none; }

.grid-center {
  justify-self: center;
  align-self: center;
}

section.center-content > * {
  justify-self: center;
  align-self: center;
}

.reveal .slides section.no-header {
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;

}

.reveal .slides section {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  padding: 3vmin;
  display: grid;
  grid-template-rows: 6rem auto;
}

.reveal .slides section.title-section {
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}

.reveal .slides figure {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  max-width: 100%;
  max-height: 100%;
}

.reveal img.full {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin: auto;
  height: auto;
  object-fit: contain;
}
